* {
  box-sizing: border-box;
  max-width: 100vw;
}
html{max-width: 100vw;}
body {
  margin: 0;
  max-width: 100vw;
}
.header {max-width: 100vw;
  height: 1cm;
  text-align: center;
  padding-top: 0.32cm;
  background-color: black;
  color: white;
  font-weight: 500;
  font-family: "Open Sans",sans-serif;
  font-size: 11px;
  letter-spacing: 0.06cm;
  z-index: 5;
}
.portada {
  position: absolute; 
  width: 100%;
  z-index: -8;
}
.logo{position: relative;top: 1.35cm; left: 1cm; z-index: 2;}
.menu{position: relative;display: flex; z-index: 2;}
.section{position: relative;top: 1.6cm;left: 2.80cm;color: white; margin-right: .7cm; font-weight: 550; text-transform: uppercase; font-family: "Open Sans",sans-serif;
    font-size: 13px; z-index: 4;}
.promo{z-index: 4;position: relative;top: 78vh; display: flex;justify-content: center; flex-direction: column;align-items: center ;background-color: white;  font-family: "Open Sans",sans-serif; font-size: 20px;}
.bfriday{width: 35vw;};
.descuento50{position: relative; display: flex; justify-content: center; align-items: center; max-width: 100vw;}
.desc50{position: relative;background-color: black;color: white;z-index: 5; top:88vh; text-align: center;height: 1.5cm; padding-top: .4cm; font-family:"Open Sans",sans-serif; font-weight: 800; font-size: 22px; left: 3vw;margin-right: 6vw;}
.gallery-container{position: relative; display: grid; grid-template-columns: repeat(3,550px); column-gap: 1cm;}
.antonio{position: relative; top: 89.5vh; width: 550px;height: 550px; left: 1vw;}
.rec{position:relative;left: 23.75vw;top: 27.2vh ;width:3cm;height: .8cm; background-color: rgb(194, 10, 10); z-index: 6; font-size: 12px;font-weight: 700; color: white; text-align: center; font-family:"Open Sans",sans-serif; padding-top: .25cm;}
.search{position: relative; z-index: 5; width: 18px; height: 18px; left: 92.7vw; top: .9cm;}
.cart{position: relative; z-index: 5; width: 18px; height: 18px; left: 94vw; top: .9cm;}
.desc40{position: relative;background-color: black;color: white;z-index: 5; top:108vh; text-align: center;height: 1.5cm; padding-top: .4cm; font-family:"Open Sans",sans-serif; font-weight: 800; font-size: 22px; left: 3vw;margin-right: 6vw;}
.gallery2-container{position: relative;top: 20vh; display: grid; grid-template-columns: repeat(3,550px); column-gap: 1cm;}
.figcap{position: relative;top: 85.65vh;left: .9vw;z-index: 10; width: 550px; padding-top: .3cm; font-family:"Oswald",sans-serif; font-size: 18px; font-weight: 500; letter-spacing: .02cm;}
.span{text-decoration: line-through;}
.price{font-size: 14px;}
.rec2{position:relative;left: 23.75vw;top: 27.2vh ;width:3cm;height: .8cm; background-color: rgb(194, 10, 10); z-index: 6; font-size: 12px;font-weight: 700; color: white; text-align: center; font-family:"Open Sans",sans-serif; padding-top: .25cm;}
.figurita{display:grid;grid-template-columns: repeat(2,1fr); column-gap: 0cm;}
.imgdiv{position: relative; top:125vh ;}
.desc30{position: relative;background-color: black;color: white;z-index: 5; top:145vh; text-align: center;height: 1.5cm; padding-top: .4cm; font-family:"Open Sans",sans-serif; font-weight: 800; font-size: 22px; left: 3vw;margin-right: 6vw;}
/* .descuento30{position: relative; display: flex; justify-content: center; align-items: center; max-width: 100vw; top: 20vh;} */
.gallery3-container{position: relative;top: 57vh; display: grid; grid-template-columns: repeat(3,550px); column-gap: 1cm;}
.rec3{position:relative;left: 23.75vw;top: 27.2vh ;width:3cm;height: .8cm; background-color: rgb(194, 10, 10); z-index: 6; font-size: 12px;font-weight: 700; color: white; text-align: center; font-family:"Open Sans",sans-serif; padding-top: .25cm;}
.redes{position: relative; top: 154vh; left: 40%;}
.icon{width: 50px;height: 50px; border: 2px solid black;border-radius: 50%; margin-right: .5cm; padding: .25cm;}
.aviso{position: relative; display: flex;justify-content: center; top: 156vh; font-family:"Open Sans",sans-serif; font-size: 13px;}
.avisosecc{margin-right: .7cm;}
.logosaviso{position: relative;width: 100%; display: flex;justify-content: center; top: 159vh; font-family:"Open Sans",sans-serif; font-size: 13px; margin-bottom: 5cm;}
.logossecc{border: 1px solid rgba(0, 0, 0, 0.274);margin-right: .7cm;width: 35px; height:30px; padding: 0.1cm;}
.footer{position: relative; top: 141vh; text-align: center; font-family: "Arial", sans-serif; font-size: 11px;}
